# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [5]:
import pandas as pd
import numpy as np

# Seu código aqui
ano = ["1900","1920","1940","1960","1980","2000","2020"]
temperatura = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
TempSuperficie = pd.Series (data = temperatura, index = ano)
TempSuperficie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [4]:

# seu código aqui
TempSuperficieComIndex = pd.Series([-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02],
                              index=["1900","1920","1940","1960","1980","2000","2020"])
TempSuperficieComIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [6]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
SeriePandas = pd.Series(dic_temperaturas)
SeriePandas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [32]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
pd.DataFrame(arr)

             0           1           2
0   109.658572  109.415844   98.445289
1    86.144573  109.453302   89.069984
2    89.009087   86.352081   84.852666
3    96.466753   83.194071  107.487949
4    96.316100   92.519884  124.073279
5    97.917847   90.275287   90.660658
6   112.119598   93.743665  110.491591
7    96.841000  106.595690   82.153932
8   117.377867   87.868601  101.705144
9    98.122486  106.424080  102.933171
10   96.452925  127.389074   97.490270
11   92.903508   93.990822  104.142697
12  104.293656   87.638449  122.027296
13  112.608007   96.495594   98.886348
14   96.968626  118.428483  118.777703
15   94.656954   96.985959   90.724764
16  104.670118   86.325025  114.904286
17  108.041757   85.025076  105.427318
18  128.207478  103.427472   92.435293
19  103.294280  100.140246  109.038240

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [49]:
#seu código aqui
df_arr = pd.DataFrame(arr)
df_arr.columns = ['x1','x2','x3']
df_arr.index = ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20']
df_arr

            x1          x2          x3
1   109.658572  109.415844   98.445289
2    86.144573  109.453302   89.069984
3    89.009087   86.352081   84.852666
4    96.466753   83.194071  107.487949
5    96.316100   92.519884  124.073279
6    97.917847   90.275287   90.660658
7   112.119598   93.743665  110.491591
8    96.841000  106.595690   82.153932
9   117.377867   87.868601  101.705144
10   98.122486  106.424080  102.933171
11   96.452925  127.389074   97.490270
12   92.903508   93.990822  104.142697
13  104.293656   87.638449  122.027296
14  112.608007   96.495594   98.886348
15   96.968626  118.428483  118.777703
16   94.656954   96.985959   90.724764
17  104.670118   86.325025  114.904286
18  108.041757   85.025076  105.427318
19  128.207478  103.427472   92.435293
20  103.294280  100.140246  109.038240

## DÚVIDA: HÁ ALGUMA FORMA DE NÃO PRECISAR ESCREVER TODOS OS 20 NUMEROS PARA NOMEAR AS LINHAS? ALGUM 'RANGE' POR EXEMPLO EM QUE EU COLOQUE O INTERVALO QUE PREISO?

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [51]:
# seu código aqui
df_arr['media'] = (df_arr['x1'] + df_arr['x2'] + df_arr['x3']) / 3
df_arr

            x1          x2          x3       media
1   109.658572  109.415844   98.445289  105.839902
2    86.144573  109.453302   89.069984   94.889286
3    89.009087   86.352081   84.852666   86.737945
4    96.466753   83.194071  107.487949   95.716257
5    96.316100   92.519884  124.073279  104.303088
6    97.917847   90.275287   90.660658   92.951264
7   112.119598   93.743665  110.491591  105.451618
8    96.841000  106.595690   82.153932   95.196874
9   117.377867   87.868601  101.705144  102.317204
10   98.122486  106.424080  102.933171  102.493246
11   96.452925  127.389074   97.490270  107.110756
12   92.903508   93.990822  104.142697   97.012343
13  104.293656   87.638449  122.027296  104.653134
14  112.608007   96.495594   98.886348  102.663316
15   96.968626  118.428483  118.777703  111.391604
16   94.656954   96.985959   90.724764   94.122559
17  104.670118   86.325025  114.904286  101.966476
18  108.041757   85.025076  105.427318   99.498051
19  128.207478  103.427472   92.435293  108.023414
20  103.294280  100.140246  109.038240  104.157589

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [53]:
# seu código aqui
df_arr['log_media'] = np.log(df_arr['media'])
df_arr

            x1          x2          x3       media  log_media
1   109.658572  109.415844   98.445289  105.839902   4.661928
2    86.144573  109.453302   89.069984   94.889286   4.552711
3    89.009087   86.352081   84.852666   86.737945   4.462891
4    96.466753   83.194071  107.487949   95.716257   4.561388
5    96.316100   92.519884  124.073279  104.303088   4.647301
6    97.917847   90.275287   90.660658   92.951264   4.532075
7   112.119598   93.743665  110.491591  105.451618   4.658252
8    96.841000  106.595690   82.153932   95.196874   4.555947
9   117.377867   87.868601  101.705144  102.317204   4.628078
10   98.122486  106.424080  102.933171  102.493246   4.629797
11   96.452925  127.389074   97.490270  107.110756   4.673863
12   92.903508   93.990822  104.142697   97.012343   4.574838
13  104.293656   87.638449  122.027296  104.653134   4.650651
14  112.608007   96.495594   98.886348  102.663316   4.631455
15   96.968626  118.428483  118.777703  111.391604   4.713052
16   94.656954   96.985959   90.724764   94.122559   4.544598
17  104.670118   86.325025  114.904286  101.966476   4.624644
18  108.041757   85.025076  105.427318   99.498051   4.600138
19  128.207478  103.427472   92.435293  108.023414   4.682348
20  103.294280  100.140246  109.038240  104.157589   4.645905